args==0.1.0
blinker==1.4
clint==0.5.1
docutils==0.12
feedgenerator==1.9
Jinja2==2.11.3
MarkupSafe==0.23
pelican==3.6.3
-e git+https://github.com/cprieto/pelican-series.git@061d6e3f8ddf80461d9fe8a4ea1d666f4df3d4dc#egg=pelican_series
pkginfo==1.3.2
Pygments==2.1.3
python-dateutil==2.5.3
pytz==2016.7
requests==2.11.1
requests-toolbelt==0.7.0
six==1.10.0
twine==1.8.1
Unidecode==0.4.19
